#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex: 1;
  background-color: rgb(112, 112, 112);
  font-size: 14px;
  font-weight: 700;
}

.outlined-white, label{
    color: #ffffff;
    text-shadow: -1px -1px 0 #000000, 0 -1px 0 #000000, 1px -1px 0 #000000, 1px 0 0 #000000,
    1px 1px 0 #000000, 0 1px 0 #000000, -1px 1px 0 #000000, -1px 0 0 #000000;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.waiting, .submit {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

input {
    max-width: 60px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;   
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover, input:hover {
  border-color: #646cff;
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(154, 153, 189, 0.5);
}

button:focus,
button:focus-visible {
  outline: none;
  border-color: #646cff;
  box-shadow: 0 0 5px rgba(154, 153, 189, 0.5);
}

.useML {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

button:active {
  transform: scale(0.97);
}